/*-- scss:defaults --*/

/*-- scss:defaults --*/
// Base document colors
$body-bg: black;
$body-color: black;
$link-color: black;

// Font sizes
$presentation-font-size-root: 30px;

.emphasized {
   font-size: 2em;
}

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/

// push the controls over the right column
@media screen and (min-width: 500px) {
  .reveal .controls[data-controls-layout=edges] .navigate-down {
    left: 85%;
    bottom: 2.3em;
  }
  .reveal .controls[data-controls-layout=edges] .navigate-up {
    left: 85%;
    top: 2.3em;
  }
}

h1 {
  font-size: 50vh;
  text-align: center;
}

h2 {
  text-decoration: none;
  font-size: 5vh;
  text-align: center;
}

h3 {
  font-size: 5vh;
  text-align: center;
}

h4 {
  text-decoration: none;
  font-size: 30px;
  text-align: left;
  padding-left: 2vw;
}

h5 {
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  padding-left: 10vw;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  font-size: 30px;
  padding-left: 10vw;
  text-align: left;
  top: 0;
}

body {
  padding: 0px;
  margin: 0px;
}

